@model Contact
@{
    ViewData["Title"] = "خانه";
}

<header id="header">
    <div class="container">

        <h1><a href="index.html">علی شیرین فشان</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="~/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2></h2>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link active" href="#header">خانه</a></li>
                <li><a class="nav-link" href="#about">درباره ما</a></li>

                @*use tag helper for link
                    <li><a asp-controller="home" asp-action="About" class="nav-link">about</a></li>
                    use ulr.action for link
                    <li><a class="nav-link" href="@Url.Action("index","about")">about</a></li>*@

                <li><a class="nav-link" href="#resume">رزومه</a></li>
                <li><a class="nav-link" href="#services">خدمات</a></li>
                <li><a class="nav-link" href="#portfolio">نمونه کار ها</a></li>
                <li><a class="nav-link" href="#contact">ارتباط با ما</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
</header>
<!-- ======= About Section ======= -->
@*<partial name="About"/>*@ 
@await Html.PartialAsync("About") 
<!-- End About Section -->
<!-- ======= Resume Section ======= -->
@await Component.InvokeAsync("Resum")
<!-- End Resume Section -->
<!-- ======= Services Section ======= -->
<partial name="Services" />
<!-- End Services Section -->
<!-- ======= Portfolio Section ======= -->
 @await Component.InvokeAsync("Portfolio")
<!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>اطلاعات تماس</h2>
            <p>ارتباط با من</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>نشانی</h3>
                    <p>@Model.Address</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        @* Url Action link *@
                        <a href="@Url.Action("index","home")" class="twitter"><i class="bi bi-twitter"></i></a>
                        @* Tag Helper Link *@
                        <a asp-controller="home" asp-action="index" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>پست الکترونیکی</h3>
                    <p>@Model.MyEmail</p>

                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>شماره تماس</h3>
                    <p>@Model.Mobile</p>
                </div>
            </div>
        </div>

        <form asp-action="Index" method="post" role="form" class="php-email-form mt-4">
            
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control"  placeholder="Your Name" asp-for="Name" >
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control"  placeholder="Your Email" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control"  placeholder="Subject" asp-for="Subject">
                <span class="text-danger" asp-validation-for="Subject"></span>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control"  rows="5" placeholder="Message" asp-for="Message"></textarea>
                <span class="text-danger" asp-validation-for="Message"></span>
            </div>
            <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

    </div>
</section><!-- End Contact Section -->